.header {
  display: grid;
  align-items: center;
}

@media (width <= 475px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (width > 475px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.logo {
  transition: opacity 0.3s ease 0s;
}

.logo[href]:hover,
.logo[href]:focus-visible {
  opacity: 0.7;
}

.logo[href]:active {
  opacity: 0.4;
}

.logo img {
  display: block;

  width: 150px;
  height: 150px;
  margin: 0 auto;
}
