:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --blue: #337ab7;

  /* Color aliases */
  --link: var(--blue);

  /* Fonts */
  --font-primary:
    -apple-system,
    blinkmacsystemfont,
    segoe ui,
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    fira sans,
    droid sans,
    helvetica neue,
    sans-serif;
}
